<th:block th:fragment="defaultHeader">
    <header class="fixed w-full top-0 z-50 bg-[#00A99B]">
        <nav class="w-full py-2 flex gap-20 items-center justify-center">
            <a class="min-w-50 text-center bg-[#0ccbba] rounded-xl" th:href="@{/gestion-promo}">Gestionnaire</a>
            <a class="min-w-50 text-center bg-[#0ccbba] rounded-xl" th:href="@{/}">UnivTime</a>
            <a class="min-w-50 text-center bg-[#0ccbba] rounded-xl" th:href="@{/gestionnaire-edt/edt}">EDT</a>
        </nav>
    </header>
</th:block>
