@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

* {
    margin: 0;
    padding: 0;}
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    /*overflow: hidden;*/
}

header {
    position: relative;
    z-index: 1000;
}

h1 {
    font-family: Arial, sans-serif;
    font-weight: 800;
    font-size: 4em;
}

h2 {
    font-family: Arial, sans-serif;
    font-weight: 800;
    font-size: 3em;
}

.animate-in {
    animation: fadeInUp 0.8s ease forwards;
}

.logo-image {
    width: 2rem;
    height: auto;
}
