@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

* {
    margin: 0;
    padding: 0;}
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    font-family: Arial, sans-serif;
    font-weight: 800;
    font-size: 4em;
}

h2 {
    font-family: Arial, sans-serif;
    font-weight: 800;
    font-size: 3em;
}

.animate-in {
    animation: fadeInUp 0.8s ease forwards;
}
