<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <th:block th:replace="~{layout/head :: defaultHead}"></th:block>

        <link rel="stylesheet" th:href="@{/css/gestion_professeurs.css}">
        <script th:src="@{/js/gestion_professeur.js}" defer></script>

        <title>UnivTime - Gestionnaire Enseignant</title>
    </head>

    <body class="bg-[#2F3E47]">
        <th:block th:replace="~{layout/header :: defaultHeader}"></th:block>

        <div class="min-h-screen p-20">
            <div class="container mx-auto max-w-4xl">
                <div class="flex justify-between items-center mb-8">
                    <h2 class="text-2xl font-bold text-white">Gestion des Enseignants</h2>
                    <button onclick="openProfPopUp()" class="btn-primary">+ Ajouter un enseignant</button>
                </div>

                <!-- Table -->
                <div class="table-container">
                    <table class="data-table">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Intervenant Extérieur</th>
                                <th>Disponibilite Jour</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <!-- Affichage dynamique -->
                            <tr th:each="prof : ${professeurs}" th:if="${prof != null}">
                                <td class="text-white" th:text="${prof.nomProf}"></td>

                                <td class="text-white" th:text="${prof.prenomProf}"></td>

                                <td class="text-white">
                                    <span th:if="${prof.intervenantExterieur}" class="badge-oui">OUI</span>
                                    <span th:unless="${prof.intervenantExterieur}" class="badge-non">NON</span>
                                </td>

                                <td>
                                    <button class="btn-edit mr-2"
                                            onclick="editProfPopUp(this)"
                                            th:attr="
                                                        data-id=${prof.idProf},
                                                        data-nom=${prof.nomProf},
                                                        data-prenom=${prof.prenomProf},
                                                        data-intervenant=${prof.intervenantExterieur}">
                                        Modifier
                                    </button>

                                    <button class="btn-delete"
                                            onclick="deleteProfPopUp(this)"
                                            th:attr="
                                                        data-id=${prof.idProf},
                                                        data-nom=${prof.nomProf}">
                                        Supprimer
                                    </button>
                                </td>
                            </tr>

                            <!-- MESSAGE SI VIDE -->
                            <tr th:if="${#lists.isEmpty(professeurs)}">
                                <td colspan="6" class="text-center text-red-700 font-bold">
                                    Aucun professeur
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Pop Up Ajouter -->
        <div id="profAdd" class="popUp">
            <div class="popUp-content">
                <p id="popUpTitleA" class="text-2xl font-bold mb-6 text-white">Ajouter un enseignant</p>

                <form id="formAdd" method="post"
                      th:action="@{/gestionnaire-edt/professeurs/{idPromo}/new(idPromo=${idPromo})}">

                    <div class="form-group">
                        <label>Nom *</label>
                        <input type="text" id="addNom" name="nomProf" required placeholder="Ex: Desport">
                    </div>

                    <div class="form-group">
                        <label>Prénom *</label>
                        <input type="text" id="addPrenom" name="prenomProf" required placeholder="Ex: Pierre">
                    </div>

                    <div class="form-group">
                        <label>Intervenant Extérieur *</label>
                        <div class="radio-group">
                            <label class="radio-label">
                                <input type="radio" name="intervenantExterieur" value="true"> OUI
                            </label>

                            <label class="radio-label">
                                <input type="radio" name="intervenantExterieur" value="false" checked> NON
                            </label>
                        </div>
                    </div>

                    <div class="flex gap-3 mt-6">
                        <button type="button" onclick="closePopUpAdd()" class="btn-edit flex-1">Annuler</button>
                        <button type="submit" class="btn-primary flex-1">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Pop Up Modfier -->
        <div id="profUpdate" class="popUp">
            <div class="popUp-content">
                <p id="popUpTitleU" class="text-2xl font-bold mb-6 text-white">Modifier un enseignant</p>

                <form th:action="@{/prof/ajout}" method="post">
                    <input type="hidden" id="profIdU" name="id">

                    <div class="form-group">
                        <label>Nom *</label>
                        <input type="text" id="nomU" name="nom" required placeholder="Ex: Desport">
                    </div>

                    <div class="form-group">
                        <label>Prenom *</label>
                        <input type="text" id="prenomU" name="prenom" required placeholder="Ex: Pierre">
                    </div>

                    <div class="form-group">
                        <label>Intervenant Extérieur *</label>
                        <div class="radio-group">
                            <label class="radio-label">
                                <input type="radio" id="updateIntervenantOui" name="intervenantExterieur" value="true"> OUI
                            </label>
                            <label class="radio-label">
                                <input type="radio" id="updateIntervenantNon" name="intervenantExterieur" value="false"> NON
                            </label>
                        </div>
                    </div>

                    <div class="flex gap-3 mt-6">
                        <button type="button" onclick="closePopUpUpdate()" class="btn-edit flex-1">Annuler</button>
                        <button type="submit" class="btn-primary flex-1">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Pop Up Supprimer -->
        <div id="profDelete" class="popUp">
            <div class="popUp-content">
                <p class="text-white mb-4">Êtes-vous sûr de vouloir supprimer cette enseignant ?</p>

                <div>
                    <div>
                        <span class="text-white">Nom</span>
                        <span class="delete-recap-value" id="nomD">-</span>
                    </div>

                    <div>
                        <span class="text-white">prénom</span>
                        <span class="text-white" id="prenomD">-</span>
                    </div>

                    <div>
                        <span class="text-white">Intervenant Extérieur</span>
                        <span class="text-white" id="IED">-</span>
                    </div>
                </div>

                <p class="text-semibold text-red-600 mb-6">Cette action est irréversible</p>

                <div class="flex gap-3">
                    <button type="button" onclick="closePopUpDelete()" class="btn-edit flex-1">Annuler</button>
                    <button type="button" class="btn-delete flex-1">Supprimer définitivement</button>
                </div>
            </div>
        </div>
    </body>
</html>
