<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <th:block th:replace="~{layout/head :: defaultHead}"></th:block>
        <link rel="stylesheet" th:href="@{/css/gestion_composantes.css}">

        <title>UnivTime - Gestion Composantes</title>
    </head>
    <body>
        <th:block th:replace="~{layout/header:: defaultHeader}"></th:block>

        <div class="min-h-screen p-20">
            <div class="container mx-auto max-w-7xl">
                <div class="flex justify-between items-center mb-8">
                    <h2 class="text-4xl font-bold text-white">Gestion des Composantes</h2>
                    <button onclick="openAddModal()" class="btn-primary">+ Ajouter une composante</button>
                </div>

                <!-- Table -->
                <div class="table-container">
                    <table class="data-table">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Volume Horaire Total</th>
                            <th>Volume Horaire CM</th>
                            <th>Volume Horaire TD</th>
                            <th>Volume Horaire TP</th>
                            <th>Module</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="composante : ${composantes}">
                                <td class="font-semibold" th:text="${composante.nom}"></td>
                                <td th:text="${composante.volumeHoraireTotal}"></td>
                                <td>
                                    <span th:text="${composante.volumeHoraireCM}"></span>
                                    <span class="text-slate-400"> - </span>
                                    <span th:text="${composante.blocHoraireCM}"></span>
                                </td>
                                <td>
                                    <span th:text="${composante.volumeHoraireTD}"></span>
                                    <span class="text-slate-400"> - </span>
                                    <span th:text="${composante.blocHoraireTD}"></span>
                                </td>
                                <td>
                                    <span th:text="${composante.volumeHoraireTP}"></span>
                                    <span class="text-slate-400"> - </span>
                                    <span th:text="${composante.blocHoraireTP}"></span>
                                </td>
                                <td th:text="${composante.idModule}"></td>
                                <td>
                                    <button th:onclick="|editComposante('${composante.id}',
                                                                    '${composante.nom}',
                                                                    '${composante.volumeHoraireTotal}',
                                                                    '${composante.volumeHoraireCM}',
                                                                    '${composante.blocHoraireCM}',
                                                                    '${composante.volumeHoraireTD}',
                                                                    '${composante.blocHoraireTD}',
                                                                    '${composante.volumeHoraireTP}',
                                                                    '${composante.blocHoraireTP}'
                                                                    '${composante.idModule}'
                                                        )|" class="btn-edit mr-2">Modifier</button>
                                    <button th:onclick="|deleteComposante('${composante.id}', '${composante.nom}')|" class="btn-delete">Supprimer</button>
                                </td>
                            </tr>

                            <tr th:if="${#lists.isEmpty(composantes)}">
                                <td colspan="6" class="text-center text-red-700 font-bold">Aucune composante</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Pop Up Ajouter/Modfier -->
        <div id="composanteModal" class="modal">
            <div class="modal-content">
                <p id="modalTitle" class="text-2xl font-bold mb-6 text-white">Ajouter une promotion</p>

                <form th:action="@{/composante/save}" method="post">
                    <input type="hidden" id="composanteId" name="id">

                    <div class="form-group">
                        <label>Nom *</label>
                        <input type="text" id="nom" name="nom" required placeholder="Ex: JEE">
                    </div>

                    <div class="form-group">
                        <label>Volume Horaire Total *</label>
                        <input type="text" id="volumeHoraireTotal" name="volumeHoraireTotal" required placeholder="Ex: 250">
                    </div>

                    <div class="form-group">
                        <label>Volume Horaire CM</label>
                        <div class="date-group">
                            <div>
                                <label class="text-xs text-slate-400">Volume Horaire CM</label>
                                <input type="text" id="volumeHoraireCM" name="volumeHoraireCM">
                            </div>
                            <div>
                                <label class="text-xs text-slate-400">Bloc Horaire CM</label>
                                <input type="text" id="blocHoraireCM" name="blocHoraireCM">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Volume Horaire TD</label>
                        <div class="date-group">
                            <div>
                                <label class="text-xs text-slate-400">Volume Horaire TD</label>
                                <input type="text" id="volumeHoraireTD" name="volumeHoraireTD">
                            </div>
                            <div>
                                <label class="text-xs text-slate-400">Bloc Horaire TD</label>
                                <input type="text" id="blocHoraireTD" name="blocHoraireTD">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Volume Horaire TP</label>
                        <div class="date-group">
                            <div>
                                <label class="text-xs text-slate-400">Volume Horaire TP</label>
                                <input type="text" id="volumeHoraireTP" name="volumeHoraireTP">
                            </div>
                            <div>
                                <label class="text-xs text-slate-400">Bloc Horaire TP</label>
                                <input type="text" id="blocHoraireTP" name="blocHoraireTP">
                            </div>
                        </div>
                    </div>

                    <div class="flex gap-3 mt-6">
                        <button type="button" onclick="closeModal()" class="btn-edit flex-1">Annuler</button>
                        <button type="submit" class="btn-primary flex-1">Enregistrer</button>
                    </div>
                </form>
            </div>

            <!-- Pop Up Supprimer -->
        </div>
    </body>
</html>
