<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <th:block th:replace="~{layout/head :: defaultHead}"></th:block>
        <link rel="stylesheet" th:href="@{/css/gestion_groupes.css}">
        <script th:src="@{/js/gestion_groupe.js}" defer></script>

        <title>UnivTime - Gestionnaire Groupes</title>
    </head>

    <body class="bg-[#2F3E47]">
        <th:block th:replace="~{layout/header :: defaultHeader}"></th:block>

        <div class="min-h-screen p-20">
            <div class="container mx-auto max-w-3xl">
                <div class="flex justify-between items-center mb-8">
                    <h2 class="text-4xl font-bold text-white">Gestion des Groupes</h2>
                    <button onclick="openGroupePopUp()" class="btn-primary">+ Ajouter un groupe</button>
                </div>

                <!-- Table -->
                <div class="table-container">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Nombre d'étudiant</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <!-- Affichage dynamique -->
                            <tr th:each="groupe : ${groupes}" th:if="${groupe != null}">
                                <td class="text-white"
                                    th:text="${groupe.nomGroupe}">
                                </td>

                                <td class="text-white"
                                    th:text="${groupe.nbEtuGroupe}">
                                </td>

                                <td>
                                    <button
                                            class="btn-edit mr-2"
                                            onclick="editGroupePopUp(this)"
                                            th:attr="
                                                                        data-id=${groupe.idGroupe},
                                                                        data-nom=${groupe.nomGroupe},
                                                                        data-nbetu=${groupe.nbEtuGroupe}">
                                        Modifier
                                    </button>

                                    <button
                                            class="btn-delete"
                                            onclick="deleteGroupePopUp(this)"
                                            th:attr="
                                                                        data-id=${groupe.idGroupe},
                                                                        data-nom=${groupe.nomGroupe}">
                                        Supprimer
                                    </button>
                                </td>
                            </tr>

                            <!-- MESSAGE SI VIDE -->
                            <tr th:if="${#lists.isEmpty(groupes)}">
                                <td colspan="6" class="text-center text-red-700 font-bold">
                                    Aucun groupe
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <br>

            <div class="container mx-auto max-w-3xl">
                <div class="flex justify-between items-center mb-8">
                    <h2 class="text-4xl font-bold text-white">Gestion des Sous-Groupes</h2>
                    <button onclick="openSousGroupePopUp()" class="btn-primary">+ Ajouter un Sous-Groupes</button>
                </div>

                <!-- Table -->
                <div class="table-container">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Nombre d'étudiant</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <!-- Affichage dynamique -->
                            <tr th:each="sousgroupe : ${sousgroupes}" th:if="${sousgroupe != null}">
                                <td class="text-white"
                                    th:text="${sousgroupe.nomSousGroupe}">
                                </td>

                                <td class="text-white"
                                    th:text="${sousgroupe.nbEtuSousGroupe}">
                                </td>

                                <td>
                                    <button
                                            class="btn-edit mr-2"
                                            onclick="editSousGroupePopUp(this)"
                                            th:attr="
                                                                        data-id=${sousgroupe.idSousGroupe},
                                                                        data-nom=${sousgroupe.nomSousGroupe},
                                                                        data-nbetu=${sousgroupe.nbEtuSousGroupe}">
                                        Modifier
                                    </button>

                                    <button
                                            class="btn-delete"
                                            onclick="deleteSousGroupePopUp(this)"
                                            th:attr="
                                                                        data-id=${sousgroupe.idSousGroupe},
                                                                        data-nom=${sousgroupe.nomSousGroupe}">
                                        Supprimer
                                    </button>
                                </td>
                            </tr>

                            <!-- MESSAGE SI VIDE -->
                            <tr th:if="${#lists.isEmpty(sousgroupe)}">
                                <td colspan="6" class="text-center text-red-700 font-bold">
                                    Aucun sous-groupe
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
